@charset "UTF-8";

menu{
    display: block;
}

#men{
    display: none;
}

menu > ul > li{
    display: inline-block;
}

menu > ul > li > a{
    border-top: 0px;
    padding: 10px;
    background-color: #757575;
    color: #fff;
}

menu > ul > li > a:hover{
    background-color: #afafaf;
    border: 1px solid #3f3f3f0c;
    box-shadow: 1px 0px 1px #0000003d;
}